.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    text-decoration: none;
    color: #331a1a;
    font-size: 24px;
}

.navbar>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

